html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  min-height: 250px;
  transition: none;
}

html /deep/ .page {
  margin-top: 50px;
  padding-top: 20px; 
}

html /deep/ .form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: none;
  -webkit-transition: none;
}
html /deep/ .form-control:focus {
  outline: none;
}