html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  /*min-height: 100%;*/
  transition: none;
  margin-bottom: 60px;
}

html /deep/ .page {
  margin-top: 50px;
  padding-top: 20px; 
}

html /deep/ .navbar-default {
  border: none;
}

html /deep/ .jumbotron {
  background-color: #f8f8f8;
}

html /deep/ .form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: none;
  -webkit-transition: none;
}
html /deep/ .form-control:focus {
  outline: none;
}

html /deep/ .page.container {
  /*min-height: 100vh;*/
}

html /deep/ x-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  padding-top: 22px;
  font-weight: 200;
}